@media screen and (max-width: 480px) {
  body {
    background-color: #085cfc;
  }
  
  .form-register {
    width: 100%;
    max-width: 400px;
    margin-top: 50px;
    margin-bottom: 50px;
    padding: 20px;
  }
  
  .logo {
    width: 100%;
    max-width: 180px;
    height: auto;
    display: block;
    margin-bottom: 30px;
  }
  
  .form-register h4 {
    font-size: 18px;
    margin-bottom: 16px;
  }
  
  .controls {
    font-size: 16px;
    margin-bottom: 12px;
  }
  
  .form-register p {
    font-size: 16px;
    line-height: 30px;
  }
  
  .form-register .botons {
    font-size: 14px;
    margin: 12px 0;
  }
  
  label {
    font-size: 14px;
    margin-bottom: 8px;
  }
  
  #contenedor p {
    font-size: 16px;
    margin-bottom: 20px;
  }
  
  #contenedor h1 {
    font-size: 22px;
    margin-bottom: 16px;
  }
  
  #contenedor h3 {
    font-size: 18px;
    margin-bottom: 8px;
  }
}
